@page "{projectId:int}"
@model SimpleTicketTracker.EditProjectModel
@{
    ViewData["Title"] = "EditProject";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br>
<h1>@Model.Project.Name</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Project.ProjectId" />
    <div class="form-row">
        <div class="form-group col-lg-4, col-md-4, col-sm-6">
            <label style="font-weight:bold" asp-for="Project.Name" class="control-label"></label>
            <input asp-for="Project.Name" class="form-control" />
            <span asp-validation-for="Project.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
            <label style="font-weight:bold" asp-for="Project.CreationDate" class="control-label"></label>
            <input type="date" asp-for="Project.CreationDate" class="form-control" readonly />
        </div>
        <div class="form-group col-lg-12, col-md-12, col-sm-12">
            <label style="font-weight:bold" asp-for="Project.Description" class="control-label"></label>
            <textarea class=" ProjectDescription form-control" asp-for="Project.Description" rows="3"></textarea>
            <span asp-validation-for="Project.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
<hr />


