@page "{ticketId:int}"
@model SimpleTicketTracker.EditTicketModel
@{
    ViewData["Title"] = "EditTicket";
}

<h1 class="form-heading">Edit Ticket</h1>

<hr />
<form method="post">
    <div class="form-group col-lg-12, col-md-12, col-sm-12">
        <input type="hidden" asp-for="Ticket.CreationDate" class="form-control" value="@DateTime.UtcNow" />
        <div class="form-row">
            <div class="form-group col-lg-12, col-md-12, col-sm-12">
                <label style="font-weight:bold" asp-for="Ticket.Name" class="control-label"></label>
                <input asp-for="Ticket.Name" class="form-control" />
                <span asp-validation-for="Ticket.Name" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.ProjectId" class="control-label"></label>
                <select asp-for="Ticket.ProjectId" asp-items="Model.Projects" class="form-control"></select>
                <span asp-validation-for="Ticket.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.OwnerId" class="control-label"></label>
                <select asp-for="Ticket.OwnerId" asp-items="Model.Owner" class="form-control"></select>
                <span asp-validation-for="Ticket.OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.PriorityId" class="control-label"></label>
                <select asp-for="Ticket.PriorityId" asp-items="Model.Priority" class="form-control"></select>
                <span asp-validation-for="Ticket.PriorityId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.TypeId" class="control-label"></label>
                <select asp-for="Ticket.TypeId" asp-items="Model.RequestType" class="form-control"></select>
                <span asp-validation-for="Ticket.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.StatusId" class="control-label"></label>
                <select asp-for="Ticket.StatusId" asp-items="Model.Status" class="form-control"></select>
                <span asp-validation-for="Ticket.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.HoursWorked" class="control-label"></label>
                <input type="number" asp-for="Ticket.HoursWorked" class="form-control" min="0" />
                <span asp-validation-for="Ticket.HoursWorked" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-4, col-md-4, col-sm-4 float-right">
                <label style="font-weight:bold" asp-for="Ticket.DueDate" class="control-label"></label>
                <input type="date" asp-for="Ticket.DueDate" class="form-control" />
                <span asp-validation-for="Ticket.DueDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <label style="font-weight:bold" asp-for="Ticket.Description" class="control-label"></label>
            <textarea class=" ProjectDescription form-control" asp-for="Ticket.Description" rows="5"></textarea>
            <span asp-validation-for="Ticket.Description" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group">
            <input type="hidden" asp-for="Ticket.TicketId" class="form-control" />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>



<div>
    <a asp-page="TicketList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

